.App {
  text-align: center;
}
.Header{
 font-weight: 500;
 font-size: larger;
 border: 2px solid;
 background-color: #8e0625;
 color: white;
 text-align: center;
}
.formHeader{
  margin-left: 12px;
}
.add-contact{
  font-size: initial;
  font-weight: 500;
  font-family: fantasy;
  margin-left: 12px;

}
input{
  margin-bottom: 5px;
  
}
.email{
  font-size: x-small;
}
.btn{
  border-color: cadetblue;
  color: #8e0625;
}
.contacts{
  display: flex;
  cursor: pointer;
  
  justify-content: space-between;
  border: 2px solid;
  background: #8e0625;
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 5px;
}
.contacts:hover{
  background-color: red;
}
.ContactsHeader{
  font-size: medium;
  font-weight: 500;
  font-family: system-ui;
  margin-left:12px;
  margin-top: 20px;
}

